.chat-window{
  min-height: 100%;
  padding: 0 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;

  & > .messageHolder{
    &:not(:last-child){
      margin-bottom: 5px;
    }
    &:first-child{
      margin-top: 15px
    }
  }

  &Holder{
    overflow-y: scroll;
    height: calc(100% - 117px);
  }
}