.loader{
  position:relative;
  display:block;
  width: 45px;
  height: 45px;

  &:before,&:after{
    position:absolute;
    content:"";
    inset:0;
    display:block;
    border-radius:50%;
    width:45px;
    height:45px;
    transform:scale(0%);
    opacity:1;
    animation: loaderGrow 1s infinite;
  }

  &.small{
    width: 20px;
    height: 20px;

    &:before,&:after{
      width: 20px;
      height: 20px;
    }
  }
  
  &:before{
    background: var(--brand-color-primary);
    animation-delay: 0.25s; 
  }

  &:after{
    background:hsl(200 100% 50%);
    animation-delay: 0.5s;
  }

  @keyframes loaderGrow{
    to{
      transform:scale(100%);
      opacity:0;
    }
  }
}