.universal-input{
  background: var(--foreground-color);
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid var(--border-color);
  font-size: 15px;
  transition: border-color 0.25s ease;
  color: var(--primary-text-color);
  font-weight: 500;

  &:focus{
    border-color: var(--brand-color-secondary);
  }
}