.chat-requests{
  &List{
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 475px){
      right: 10px;
      bottom: 10px;
      width: calc(100% - 20px);
    }

    & > .chat-request{

      @media screen and (max-width: 475px){
        width: 100%;
      }

      &:not(:last-child){
        margin-bottom: 20px;
      }
    }
  }
}