.set-name{
  display: flex;
  padding: 15px 25px;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  background-color: var(--background-color);
  position: relative;
  width: calc(100% - 20px);
  max-width: 400px;

  & > h2{
    width: 100%;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }

  & > input{
    margin-bottom: 15px;
    max-width: 220px;
    width: 100%;
  }
}