// Font import
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "./variables.scss";
@import "../icons/colors.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: var(--primary-text-color);
  border: 0;
  outline: 0;
}
body{
  height: 100vh;
  max-height: 100vh;
}
#root{
  height: 100%;
  height: var(--vh);
}
@keyframes fadeIn{
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideIn{
  0%{
    transform: translateY(100%);
    opacity: 0;
  }
  100%{
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes fadeOut{
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideOut{
  0%{
    transform: translateY(0%);
    opacity: 1;
  }
  100%{
    transform: translateY(100%);
    opacity: 0;
  }
}