*{
  --brand-color-primary: #2667FF;
  --brand-color-secondary: #3F8EFC;
  --text-color-primary: #252525;
  --text-color-secondary: #8b949f;
  --foreground-color: #f2f2f2;
  --background-color: #ffffff;
  --border-color: #dddddd;
  --popup-background: #00000070
}