.universal-button{

  &.small{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: var(--foreground-color);
    cursor: pointer;
  }

  &.primary{
    padding: 0px 30px;
    height: 40px;
    border-radius: 20px;
    color: #fff;
    background-color: var(--brand-color-secondary);
    transition: 0.25s ease;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;

    &:hover{
      background-color: var(--brand-color-primary);
    }
  }
}