.user{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 20px;
  cursor: pointer;
  height: 171px;

  & > svg{
    width: 70px;
    height: 70px;
    margin-bottom: 25px;

    @media screen and(max-width: 360px) {
      margin-bottom: 15px;
    }
  }

  & > h3, & > span {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    text-align: center;
    overflow: hidden;
  }

  & > h3{
    font-size: 18px;
    @media screen and(max-width: 360px) {
      font-size: 16px;
    }
  }

  & > span{
    font-size: 15px;
    @media screen {
      font-size: 13px;
    }
  }

  &Loading{
    font-size: 16px;
    font-weight: 500;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 31px;
    align-items: center;
    flex-direction: column;
    animation-name: fadeIn;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
  }
}