.popup-wrapper{
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  animation-name: fadeIn;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;

  &Background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--popup-background);
  }
  & > *:nth-child(2){
    position: relative;
    z-index: 3;
    animation-name: slideIn;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
  }
  &.animate-out{
    animation-name: fadeOut;

    & > *:nth-child(2){
      animation-name: slideOut;
    }

  }
}