.users-list{
  display: grid;
  grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
  grid-gap: 15px;
  padding: 40px 20px;
  max-width: 800px;
  margin: 0 auto;
  @media screen and (max-width: 475px){
    grid-template-columns: 100%;
  }

  &Empty{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    grid-column: 1 / 3;
    justify-content: center;
    height: 300px;

    & > svg{
      width: 25px;
      height: 25px;
      margin-right: 15px;
    }
  }
}