#AppLogoFirst{
  fill: var(--brand-color-primary);
}
#AppLogoSecond{
  fill: var(--brand-color-secondary);
}
#UserIconFirst, #UserIconSecond{
  fill: var(--text-color-primary);
}
#SendIcon{
  fill: var(--brand-color-primary);
}