.name-display{
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  & > span{
    &:first-child{
      color: var(--text-color-secondary);
      font-size: 14px;
    }
    &:last-child{
      color: var(--text-color-primary);
      font-size: 16px;
    }
  }
}