.header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  border-bottom: 1px solid var(--border-color);
  height: 56px;

  & > div{
    display: flex;
    align-items: center;
    &:first-child{
      & > svg{
        width: 35px;
        height: 35px;
        margin-right: 25px;
      }
      & > .universal-button{
        margin-right: 25px;
      }
      & > h1{
        font-size: 18px;
      }
    }
    &:last-child{
      & > svg{
        width: 35px;
        height: 35px;
        cursor: pointer;
      }
      & > .name-display{
        margin-right: 10px;
        
        @media screen and (max-width: 1024px){
          display: none;
        }
      }
    }
  }
}