.chat-request{
  display: flex;
  padding: 15px 25px;
  border-radius: 15px;
  background-color: var(--foreground-color);
  animation-name: requestOpen;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  justify-content: space-between;

  @media screen and (max-width: 475px){
    padding: 10px 10px;
  }

  @media screen and (max-width: 768px){
    flex-direction: column;
    align-items: center;
  }

  &.closed{
    animation-duration: 0.25s;
    animation-name: requestClose;
  }
  & > div{
    &:first-child{
      display: flex;
      flex-direction: column;
      margin-right: 25px;

      @media screen and (max-width: 768px){
        margin-right: 0;
        margin-bottom: 10px;
      }

      & > span{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 14px;

        @media screen and (max-width: 768px){
          width: 100%;
          text-align: center;
        }
      }
    }
    &:last-child{
      display: flex;
      & > .universal-button{

        &:not(:last-child){
          margin-right: 10px;
        }
        
        @media screen and (max-width: 475px){
          font-size: 13px;
          padding: 0px 15px;
          height: 30px;
        }
      }
    }
  }
}
@keyframes requestOpen{
  0%{
    transform: translateX(calc(100% + 20px));
    opacity: 0;
  }
  100%{
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes requestClose{
  0%{
    transform: translateX(0%);
    opacity: 0;
  }
  100%{
    transform: translateX(calc(100% + 20px));
    opacity: 1;
  }
}