.message-input{

  resize: none;
  height: 40px;
  border: 1px solid var(--foreground-color);
  font-size: 15px;
  border-radius: 15px;
  padding: 5px 10px;
  width: 100%;
  max-width: 710px;
  margin-right: 20px;
  transition: 0.25s ease;

  &:focus{
    border-color: var(--brand-color-secondary)
  }

  &Holder{
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--foreground-color);

    & > svg{
      height: 25px;
      width: 25px;
      cursor: pointer;

      &:hover{
        & path{
          transition: 0.25s ease;
          fill: var(--brand-color-secondary) !important;
        }
      }
    }
  }
}