.message{

  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 5px 10px;
  max-width: calc(100% - 40px);
  animation-name: slideIn;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;

  & > span{
    &:first-child{
      padding-bottom: 4px;
      word-break: break-word;
    }
    &:last-child{
      font-size: 13px;
      width: 100%;
    }
  }

  &Holder{
    display: flex;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    &.received{
      justify-content: flex-start;

      & > .message{
        background: var(--foreground-color);
        padding-left: 15px;

        & > span{
          text-align: left;
          &:first-child{
            color: var(--text-color-primary);
          }
          &:last-child{
            color: var(--text-color-secondary);
          }
        }
      }
    }

    &.sent{
      justify-content: flex-end;

      & > .message{
        background: var(--brand-color-secondary);
        padding-right: 15px;

        & > span{
          text-align: right;
          &:first-child{
            color: #fff;
          }
          &:last-child{
            color: #fff;
            opacity: 0.7;
          }
        }
      }
    }
  }
}